# macOS
.DS_Store

# Xcode
build/
*.derivedData
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# User Specific (The cause of your headache)
xcuserdata/
*.xcuserstate

# Swift Package Manager
.swiftpm/
.build/

# CocoaPods
Pods/
Podfile.lock

# Fastlane
fastlane/report.xml
fastlane/test_output/

# IMPORTANT: Do NOT ignore .pbxproj.
# It is the brain of your project.
